@model TransactionViewModel
@{

    ViewData["Title"] = "Транзакции";
    string? message = TempData["Message"]?.ToString();
    string? messageStyle = TempData["MessageStyle"]?.ToString()!;
}
<script>
    //Получаем строку запроса и генирируем url для удаления
    let endocindUrl = ("@(Model.Url)/Transaction/DeleteByFilter?@(ReflectionServies.GetQueryString(Model.Filter))");
    //url необходимо декодировать
    var url = endocindUrl.replaceAll("&amp;", "&").replaceAll("&gt;", ">").replaceAll("&lt;", "<");

    //Скрытие меню
    function MoveToolBar (){
        document.getElementById("ToolBar").classList.toggle("ActiveBar");
    }
    //Запрос на удаление записи
    function deleteCommand(id) {
        let urlToDelete = "delete/" + id;
        if (confirm("Вы уверены, что хотите удалить транзакцию?")) {
            window.location.replace(urlToDelete);
        }
    }
    //Удаление всех выборки
    function deleteByFilterCommand() {
        if (confirm("Вы уверены, что хотите удалить данные транзакции?")) {
            window.location.replace(url);
        }
    }

</script>

<div class="ToolBar" id="ToolBar">  
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="col-12">
                <form method="get" id="FilterForm">
                    <div class="row justify-content-center mt-1">
                        <div class="col-2">
            
                            <select asp-for=@Model.Filter.AccountId class="form-select">
                                <option class="active" value="">Все счета</option>
                                @foreach (var item in Model.Accounts)
                                {
                                    <option value=@item.Id>@item.Name</option>
                                }
                                
                            </select>
                        </div>
                        <div class="col-2">


                            <div class="input-group">

                                <input asp-for=@Model.Filter.PageNumber value="0" hidden="hidden" />
                                <input asp-for=@Model.Filter.Value class="form-control valueInput" placeholder="(>,<,=) Стоимость" />
                                <span class="input-group-text">₽</span>


                            </div>
                         </div>
                        <div class="col-2"><input asp-for=@Model.Filter.Date class="form-control" type="date" placeholder="Дата" /></div>
                        <div class="col-3 ">
                            <input asp-for="@Model.Filter.StringToFind" class="form-control" placeholder="Что искать..." />
                        </div>
                        <div class="col-1 mt-1">
                            <p data-tooltip="Применить фильтр">
                            <button class="btn" type="submit"><img src="/images/filtr.png" /></button>
                            </p>
                        </div>
                        
           >
                    </div>
                    <div class="row justify-content-center mt-3">
                        <div class="col-2">
                            <select asp-for=@Model.Filter.CategoryId class="form-select" data-mdb-filter="true">
                                <option class="active" value="">Без категорий</option>

                                @foreach (Category item in Model.Categories)
                                {
                                    <option value=@item.Id>@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-2">
                            <select  class="form-select" asp-for=@Model.Filter.TypeTransaction>
                                <option value="0">Доходы/расходы</option>
                                <option value="1">Доходы</option>
                                <option value="-1">Расходы</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <select class="form-select" asp-for=@Model.Filter.PropetryForSorting>
                                <option value="">Без сортировки</option>
                                <option value="date">Сортировка по дате</option>
                                <option value="value">Сортировка по стоимости</option>
                                <option value="category">Сортировка по категории</option>
                                <option value="account">Сортировка по счету</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <h5 style="color:white;" class="input-grop-text">В порядке возростания </h5>
                                </div>
                                <input type="checkbox" asp-for=@Model.Filter.IsForward class="form-check-input m-lg-2 mt-2" />
                            </div>
                        </div>
                        <div class="col-1">
                            <p data-tooltip="Удалить фильтр">
                            <a class = "btn ml-1" asp-controller="Transaction" asp-action="Get"><img src="/images/NoFilter.png" /></a>
                            </p>
                        </div>

                        
                    </div>

                </form>
            </div>
        </nav>
    </div>
    <div class="menuButton">
       <button class="btn" onclick="MoveToolBar()">
           <img asp-append-version=true src="/images/filtrMune.png" width="50px" height="50px"/>
       </button>
    </div>
</div>

@if (message is not null && message != "")
{
    <div class="alert @messageStyle mt-3 mb-3 text-center" style="z-index:0;">@message</div>
}
<div class="work-panel">
    <div style="width:55px;height:55px" class="m-2">
        <p data-tooltip="Добавить транзакцию">
        <a  asp-controller="Transaction" asp-action="EditPage"><img  width="50px" height="50px" src="/images/addTransaction.png" /></a>
        </p>
    </div>
    <div style="width:55px;height:55px" class="m-2">

        <p data-tooltip="Удалить все транзакци в выборке">
            <button style="padding:0;" class="btn" onclick="deleteByFilterCommand()"><img width="50px" height="50px" src="/images/delete_all_by_filter.png" /></button>
        </p>

    </div>
    <div style="width:55px;height:55px" class="m-2">
        <p data-tooltip="Скачать Excel документ">
        <a href="@(Model.Url)/api/File/excel?@(ReflectionServies.GetQueryString(Model.Filter))"><img width="50px" height="50px" src="/images/excel.png" /></a>
        </>

    </div>
    <div style="width:55px;height:55px" class="m-2">
        <p data-tooltip="Скачать Word документ">
        <a href="#"><img width="50px" height="50px" src="/images/word.png" /></a>
       </p>

    </div>
</div>
<div class="container mt-4">
    <div class="row mt-3 mb-3  justify-content-center">
        <div class="col-6">
            <div class="row" style="display:inline;">
                <h4 style="display:inline;">Сумма = </h4><h4 style="color:@(Model.Sum[0]!='-'?"green":"red");display:inline;">@Model.Sum</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="table" class=" table table-striped table-bordered  table-hover" width="100%">
                <thead>
                    <tr>
                        <th>
                            <p>Счет</p>
                        </th>

                        <th>
                            <p> Категория</p>
                        </th>
                        <th>
                            <p> Стоимость</p>
                        </th>
                        <th><p> Описание</p></th>
                        <th>
                            <p> Дата</p>
                        </th>
                        <th colspan="2">
                            <p>Редактирование</p>
                        </th>
                    </tr>
                </thead>
                <tbody> 
                    @foreach(Transaction item in Model.Transactions){
                        <tr>
                            <td>@item.Account.Name</td>
                            <td>@item.Category?.Name</td>
                            <td style="color:@(item.IsIncome?"green":"red")">@item.Value</td>
                            <td>@item.Comment</td>
                            <td>@item.Date.ToString()</td>
                            <td class="td-edit">
                                <a class="btn" asp-controller="Transaction" asp-action="EditPage" asp-route-Id=@item.Id><img src="/images/editnote.png" /></a>
                            </td>
                            <td class="td-edit">
                                <button class="btn" onclick="deleteCommand(@item.Id)"><img src="/images/delete.png" /></button>
                            </td>
                        </tr>
                    }
                </tbody>
                @if (Model.Transactions.Count > 10)
                {
                    <tfoot>
                        <tr>
                            <th>Счет</th>
                            <th>Категория</th>
                            <th>Стоимость</th>
                            <th>Описание</th>
                            <th>Дата</th>
                        </tr>
                    </tfoot>
                }
            </table>
        </div>
    </div>
</div>
@if (Model.NumberOfLastPage>1)
{
    <div class="row justify-content-center mb-4">
        <div class="col-6 text-center">
            @if (Model.Filter.PageNumber != 0)
            {
                <a class="btn btn-secondary" href="@(Model.Url)/Transaction/Get?@(ReflectionServies.GetQueryString(Model.Filter,("PageNumber","0")))">Первая страница</a>
                <a href="@(Model.Url)/Transaction/Get?@(ReflectionServies.GetQueryString(Model.Filter,("PageNumber",$"{Model.Filter.PageNumber-1}")))"><img src="/images/back.png" /></a>
            }
            <span>@(Model.Filter.PageNumber + 1)</span>
            @if (Model.Filter.PageNumber != Model.NumberOfLastPage - 1)
            {
                <a href="@(Model.Url)/Transaction/Get?@(ReflectionServies.GetQueryString(Model.Filter,("PageNumber",$"{Model.Filter.PageNumber  +1}")))"><img src="/images/next.png" /></a>
                <a class="btn btn-secondary" href="@(Model.Url)/Transaction/Get?@(ReflectionServies.GetQueryString(Model.Filter,("PageNumber",$"{Model.NumberOfLastPage -1}")))"> Последняя страница - @Model.NumberOfLastPage</a>


            }
            

        </div>
    </div>
}
