@model StatisticFilter
@inject AccountService _accountService
@{
    ViewData["Title"] = "Статистика";
}
<script>
    function MoveToolBar() {
        document.getElementById("ToolBar").classList.toggle("ActiveStatisticBar");
    }
</script>

<div class="ToolBar" id="ToolBar">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="col-12">
                <form method="get" asp-controller="Statistic">
                    <div class="row justify-content-center ">
                        <div class="col-2">
                            <label class="form-label">Выберите счёт</label>
                            <select asp-for="AccountId" class="form-select">
                                <option class="active" value="">Все счета</option>
                                @foreach (var item in _accountService.GetAll().Result)
                                {
                                    <option value=@item.Id>@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-2">
                            <label class="form-label">Выберите месяц</label>
                            <select asp-for="Month" class="form-control">
                                <option value="1">Январь</option>
                                <option value="2">Февраль</option>
                                <option value="3">Март</option>
                                <option value="4">Апрель</option>
                                <option value="5">Май</option>
                                <option value="6">Июнь</option>
                                <option value="7">Июль</option>
                                <option value="8">Август</option>
                                <option value="9">Сентябрь</option>
                                <option value="10">Октябрь</option>
                                <option value="11">Ноябрь</option>
                                <option value="12">Декабрь</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label class="form-label">Введите год</label>
                            <input asp-for="Year" class="form-control" value="@DateTime.Now.Year" />
                        </div>
                        <div class="col-3 mt-5">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <h5 class="input-grop-text" style="color:white;">По всем счетам</h5>
                                </div>
                                <input type="checkbox" asp-for="AllAccounts" class="form-check-input m-lg-2 mt-2" />
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center ">
                        <div class="col-2">
                            <label class="form-label">Выберите тип транзакций</label>
                            <select asp-for="TypeTransaction" class="form-control">
                                <option value="-1">Расход</option>
                                <option value="0">Расход/Доход</option>
                                <option value="1">Доход</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label class="form-label">Выберите тип группировки</label>
                            <select asp-for="TypeGroup" class="form-control">
                                <option value="0">День</option>
                                <option value="1">Неделя</option>
                                <option value="2">Месяц</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label class="form-label">Введите год</label>
                            <input asp-for="Year" class="form-control" value="@DateTime.Now.Year" />
                        </div>

                 

                        <div class="col-3 mt-5">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <h5 class="input-grop-text" style="color:white;">За все время</h5>
                                </div>
                                <input type="checkbox" asp-for="AllTime" class="form-check-input m-lg-2 mt-2" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </nav>
    </div>
    <div class="menuButton">
        <button class="btn" onclick="MoveToolBar()">
            <img asp-append-version=true src="/images/setting1.png" width="50px" height="50px" />
        </button>
    </div>
</div>

<div class="row mt-3 mb-3 justify-content-center">
    <div class="col-2">
        <button class="btn btn-success">Загрузить данные
            <img class="ml-1" src="~/images/drow.png" />
        </button>
        
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-lg-6 col-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="Category-tab" data-bs-toggle="tab" data-bs-target="#Category" type="button" role="tab" aria-selected="true">Категории</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Transaction-tab" data-bs-toggle="tab" data-bs-target="#Transaction" type="button" role="tab" aria-selected="false">Транзакции</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Balance-tab" data-bs-toggle="tab" data-bs-target="#Balance" type="button" role="tab" aria-selected="false">Баланс</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="Category" role="tabpanel" aria-labelledby="Category-tab">1</div>
            <div class="tab-pane fade" id="Transaction" role="tabpanel" aria-labelledby="Transaction-tab">2</div>
            <div class="tab-pane fade" id="Balance" role="tabpanel" aria-labelledby="Balance-tab">3</div>
        </div>
    </div>
</div>

<canvas>

</canvas>
<!--

<form method="get" asp-controller="Statistic" class="model">
<div class="row justify-content-center mt-3 ">
    <div class="col-lg-7 col-12">
        <div class="col-4">
            <label class="form-label">Выберите счет</label>
            <select asp-for="AccountId" class="form-control">
                @foreach (var i in _accountService.GetAll().Result)
                {
                    <option value=@i.Id>@i.Name</option>
                }
            </select>
        </div>
        <div class="col-4">
            <label class="form-label">Выберите месяц</label>
            <select asp-for="Month" class="form-control">
                <option value="1">Январь</option>
                <option value="2">Февраль</option>
                <option value="3">Март</option>
                <option value="4">Апрель</option>
                <option value="5">Май</option>
                <option value="6">Июнь</option>
                <option value="7">Июль</option>
                <option value="8">Август</option>
                <option value="9">Сентябрь</option>
                <option value="10">Октябрь</option>
                <option value="11">Ноябрь</option>
                <option value="12">Декабрь</option>
            </select>
        </div>
        <div class="col-4">
            <label class="form-label">Выберите тип транзакций</label>
            <select asp-for="TypeTransaction" class="form-control">
                <option value="-1">Расход</option>
                <option value="0">Расход/Доход</option>
                <option value="1">Доход</option>
            </select>
        </div>
        <div class="col-4">
            <label class="form-label">Выберите тип группировки</label>
            <select asp-for="TypeGroup" class="form-control">
                <option value="0">День</option>
                <option value="1">Неделя</option>
                <option value="2">Месяц</option>
            </select>
        </div>
        <div class="col-10">
            <label class="form-label">Введите год</label>
            <input asp-for="Year" class="form-control" value="@DateTime.Now.Year" />
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <h5 class="input-grop-text">За все время</h5>
                </div>
                <input type="checkbox" asp-for="AllTime" class="form-check-input m-lg-2 mt-2" />
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <h5 class="input-grop-text">По всем счетам</h5>
                </div>
                <input type="checkbox" asp-for="AllAccounts" class="form-check-input m-lg-2 mt-2" />
            </div>
        </div>
    <div class="col-lg-8 col-12 mt-2">
        
    </div>
</div>
</form>

-->
