@model InventoryViewModel
@{
    ViewData["Title"] = "Инвентаризация";
    string? message = TempData["Message"]?.ToString();
    string messageStyle = TempData["MessageStyle"]?.ToString()!;
}
@if (message is not null && message != "")
{
    <div class="alert @messageStyle mt-3 mb-3 text-center">@message</div>
}
<script>
    function deleteCommand(id,accountId) {
       
        if (confirm("Уадилить данные инвентаризации?")) {
            window.location.replace("/Inventory/Delete/" + id+"?accountId="+accountId);
        }
    }
</script>
<div class="row justify-content-center mt-3 mb-3">
    <div class="col-8">
        <h2>Счёт - @Model.Account.Name</h2>
        <hr />
    </div>
</div>
<form method="post" asp-controller="Inventory" asp-action="Add">
    <div class="row justify-content-center mt-3">
        <div class="col-lg-2 col-4">

            <input name="Date"  asp-for="InventoryEditModel.Date"  value ="@System.DateTime.Now" class="form-control" />
            <span data-valmsg-for="Date" data-valmsg-replace="true" class="validationError"></span>

            <input name="AccountId" hidden="hidden" class="form-control" value="@Model.Account.Id" />

            
        </div>
        <div class="col-lg-2 col-5">
            <input  name ="Value" asp-for="InventoryEditModel.Value" class="form-control" placeholder="Корректирующие значение" />
            <span data-valmsg-for="Value" data-valmsg-replace="true" class="validationError"></span>
        </div>
        <div class="col-2">
            <button class="btn btn-success" type="submit">Добавить</button>
        </div>
    </div>
</form>

<div class="row justify-content-center mt-3">
    <div class="col-lg-7 col-10">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Дата
                    </th>
                    <th>
                        Баланс
                    </th>
                    <th width="50px">
                        Удаление
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Inventories??new List<Inventory>(0))
                {
                    <tr>
                        <td>@item.Date</td>
                        <td style="color:@((item.Value>=0)?"green":"red");">@item.Value</td>

                        <td width="50px">

                                <button class="btn" onclick="deleteCommand(@item.Id,@item.AccountId)"><img src="/images/delete.png" width="50px;" /></button>
                          
                            
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
